@media print{
.pos .pos-sale-ticket table td{
background: #DDD;
padding: 1px 3px;
border-radius:5px;
}

.pos-sale-ticket table {
    border-spacing: 3px;
    border-collapse: separate;
}

.pos-sale-ticket{
border: dashed 2px #666 !important;

}


}
